* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.heads {
  width: 120px;
  height: 100px;
  cursor: pointer;
  margin-right: 30px;
  background-color: rgb(215, 70, 70);
  /* text-decoration: ; */
}

.tails {
  width: 120px;
  height: 100px;
  cursor: pointer;
  margin-left: 30px;
  background-color: rgb(215, 70, 70);
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* i {
  padding-left: 20px;
} */
